<% include partials/header %>

<h1>The Posts Page</h1>

<% for(var i = 0; i < posts_inside.length; i++) { %>
    <li> 
        <%=posts_inside[i].title%> - <strong> <%=posts_inside[i].author%></strong>
    </li>
<% } %>

<h3>Below is the forEach loop</h3>
<% posts_inside.forEach(function(post){ %>
    <li> 
        <%=post.title%> - <strong> <%=post.author%></strong>
    </li>
<% }); %>

<% include partials/footer %>